//output:output.html

head
  title geeksWeather!
  link(rel='icon' href='/images/bbqBailey.png')
  link(href='https://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/geeksWeather.css')
  meta(HTTP-EQUIV="CACHE-CONTROL", CONTENT="NO-CACHE")
  meta(http-equiv="refresh", content="600")
  
  script.
    var theName = "#{name}";
    var DELAY = "#{DELAY}";
    var config={};
    var HES_DEAD_JIM = false;
    
    console.log("=============================================================")
    var configStringify = '!{config}';
    config = JSON.parse(configStringify);
    console.log("config: ",  config);
    console.log('config typeof: ', typeof config);
    console.log("config.splashPage: ", config.splashPage);
    console.log("===========================================================")

body
  div(id='mainArea')

    section(id='topTime')
      div(id="time" ) Time: Waiting... 

    section(id='topTemp') 
      div(id="temp_f" )

    section(id='status')
      div(id="died")
          img(src="/images/hesDeadJim.jpg", id="hesDeadJim", style="display:none")
      div(id='imageDiv')
        //why is bbqBailey still needed? It's in slideShow.displayPages.splashPage, but not working if not here!  If it has to be here to keep the page from being blank, then make this the splashPage and remove from slideShow.displayPages.
        
        img(src='/images/bbqBailey.png', height="900px")
          
    
      

    section(id='main')
      script(src="//code.jquery.com/jquery-2.1.4.min.js")
      script(src = "/javascripts/slideShow.js")    
      script(src="/javascripts/geeksWeatherEvents.js")

  footer
    input( class='nav', type='button', value='Prev Slide', onclick='prevSite()', style='height:60px')
    input( class='nav', type='button', value='Next Slide', onclick='nextSite()', style='height:60px')
    input( class='nav', type='button', value='Detailed Weather Info', onclick='moveToDetailedInfo()', style='height:60px')
    input( class='nav', type='button', value='Documentation',
    onclick='moveToDocumentation()', style='height:60px')
    input( class='nav', type='button', value='Camera 1',
    onclick='moveToCamera1()', style='height:60px')
    input( class='nav', id='pauseCB', type='checkbox', name='pause', value='checked', onchange='pauseChanged(this)')
    | Pause
    img(src="/images/wundergroundLogo_4c_horz.png", id="wundergroundLogo")
